.frame.fast{
    animation-duration: 800ms;
}

.fade-in{
    animation-name: fade-in;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;   
    }
}

